<network>
    <name>okd-dns</name>
    <forward mode='nat'>
        <nat>
            <port start='1024' end='65535'/>
        </nat>
    </forward>
    <bridge name='virbr-okd-dns' stp='on' delay='0'/>
    <mac address='52:54:00:00:06:00'/>
    <domain name='ocp4-cluster-001.sandbox.okd' localOnly='no'/>
    <ip address='10.0.6.1' netmask='255.255.255.0'>
        <dhcp>
            <range start='10.0.6.10' end='10.0.6.254'/>
            <host mac='52:54:00:00:06:10' name='dns.ocp4-cluster-001.sandbox.okd' ip='10.0.6.10'/>
        </dhcp>
    </ip>
</network>
